<usersForm (addUser)="optimisticAdd($event)" (addUserPs)= "pasemisticAdd()"  ></usersForm>
<h2>
  Users list
</h2>

<ul>
  <!--li *ngFor = "let user of users">{{user}}</li-->
  <li *ngFor = "let key of usersKeys">{{'User number: ' + key + ' ' + users[key].username}}</li>
</ul>