<form [formGroup] = "msgform" (ngSubmit) = "sendData()">
  
  <div>
    <label for="message">message</label>
    <input type="text" name = "message" id = "message"
    class = "form-control" formControlName = "message">
  </div>
    
  <div>
  <label for="user">user</label>
  <input type="text" name = "user" id = "user"
   class = "form-control" formControlName = "user">
  </div>
<input type="submit" value = "Send the message"
  class = "btn btn-primary">
</form>   