<h2>Message Number {{message?.id}}</h2><!-->ברגע שהקומפוננט נטען הנתונים טרם הגיעו לשרת ולכן הוספנו סימן שאלה שאומר לאנגולר לחכות  כיוון שאל הגיעו עדיין נתונים מהשרת</!-->
<div>
  Message body {{message?.body}}
</div>
<div>
  User {{message?.user_id}}
</div>

